NEXT_PUBLIC_SUPABASE_URL=https://nqhogluembradisrdjcj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_W7gnbX_oPqS9nT2GzPu60A_0JVv8aIy
AIML_API_KEY=05b814dd7e69c91a33d0388739689bb7
AIML_MODEL=gpt-4o-mini
AIML_BASE_URL=https://api.aimlapi.com/v1

BRIGHT_DATA_API_KEY=4848e743-ca45-4aaf-92fc-1568eaca280d

BRIGHT_DATA_WEB_UNLOCKER_ZONE=web_unlocker_altdr
BRIGHT_DATA_BASE_URL=https://api.brightdata.com/request

CRON_SECRET=851c94a066d6a31eb18c2f1c5977167838b8584c10209cc378664d07839e10c9
DEMO_MODE=false
